In [1]:
from config import sql_pass

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

# Extract CSVs into DataFrames

In [3]:
# Read Breast Cancer csv and store into Pandas data frame
df ="breast_cancer.csv"
df = pd.read_csv(df)
df.head()

,id,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bare_nucleoli,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

# Transform Salary DataFrame

In [4]:
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
# Drop the column id
df=df.iloc[:,1:]
df.head()

,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bare_nucleoli,bland_chromatin,normal_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [5]:
df[df['bare_nucleoli']=='?']

,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bare_nucleoli,bland_chromatin,normal_nucleoli,mitoses,class
23,8,4,5,1,2,?,7,3,1,4
40,6,6,6,9,6,?,7,8,1,2
139,1,1,1,1,1,?,2,1,1,2
145,1,1,3,1,2,?,2,1,1,2
158,1,1,2,1,3,?,1,1,1,2
164,5,1,1,1,2,?,3,1,1,2
235,3,1,4,1,2,?,3,1,1,2
249,3,1,1,1,2,?,3,1,1,2
275,3,1,3,1,2,?,2,1,1,2
292,8,8,8,1,2,?,6,10,1,4
294,1,1,1,1,2,?,2,1,1,2
297,5,4,3,1,2,?,2,3,1,2
315,4,6,5,6,7,?,4,9,1,2
321,3,1,1,1,2,?,3,1,1,2
411,1,1,1,1,1,?,2,1,1,2
617,1,1,1,1,1,?,1,1,1,2

In [6]:
digits_in_bare_nucleoli=pd.DataFrame(df.bare_nucleoli.str.isdigit())

In [7]:
data=df.replace("?", np.nan)

In [8]:
# Applying Only on variables with NaN values
for i in df.columns[df.isnull().any(axis=0)]:     
    df[i].fillna(df[i].mean(),inplace=True)

In [10]:
data['bare_nucleoli']= data['bare_nucleoli'].astype(int)
data['bare_nucleoli']= data['bare_nucleoli'].replace(0,data['bare_nucleoli'].mean(),inplace=True )
data

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [ ]:
data.dtypes

# Create database connection

In [ ]:
engine = create_engine(f'postgresql://postgres:{sql_pass}@localhost/breast_cancer')

In [ ]:
#Confirm tables
engine.table_names()

# Load DataFrames into database

In [ ]:
data.to_sql(name='cancerdata', con=engine, if_exists='append', index=False)