In [3]:
from config import sql_pass

In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

# Extract CSVs into DataFrames

In [5]:
# Read Breast Cancer csv and store into Pandas data frame
df ="breast_cancer.csv"
df = pd.read_csv(df)
df.head()

,id,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bare_nucleoli,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

# Transform Salary DataFrame

In [6]:
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
# Drop the column id
df=df.iloc[:,1:]
df.head()

,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bare_nucleoli,bland_chromatin,normal_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [7]:
X=df.drop('class', axis=1)
y=df['class']

In [8]:
df = X.copy()

df_binary_encoded = pd.get_dummies(df, columns=["bare_nucleoli"])
df_binary_encoded.head()

,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bland_chromatin,normal_nucleoli,mitoses,bare_nucleoli_1,bare_nucleoli_10,bare_nucleoli_2,bare_nucleoli_3,bare_nucleoli_4,bare_nucleoli_5,bare_nucleoli_6,bare_nucleoli_7,bare_nucleoli_8,bare_nucleoli_9,bare_nucleoli_?
0,5,1,1,1,2,3,1,1,1,0,0,0,0,0,0,0,0,0,0
1,5,4,4,5,7,3,2,1,0,1,0,0,0,0,0,0,0,0,0
2,3,1,1,1,2,3,1,1,0,0,1,0,0,0,0,0,0,0,0
3,6,8,8,1,3,3,7,1,0,0,0,0,1,0,0,0,0,0,0
4,4,1,1,3,2,3,1,1,1,0,0,0,0,0,0,0,0,0,0

In [9]:
# Remove column name 'bare_nucleoli_?' 
df = df_binary_encoded.drop(['bare_nucleoli_?'], axis = 1) 
df.head()

,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bland_chromatin,normal_nucleoli,mitoses,bare_nucleoli_1,bare_nucleoli_10,bare_nucleoli_2,bare_nucleoli_3,bare_nucleoli_4,bare_nucleoli_5,bare_nucleoli_6,bare_nucleoli_7,bare_nucleoli_8,bare_nucleoli_9
0,5,1,1,1,2,3,1,1,1,0,0,0,0,0,0,0,0,0
1,5,4,4,5,7,3,2,1,0,1,0,0,0,0,0,0,0,0
2,3,1,1,1,2,3,1,1,0,0,1,0,0,0,0,0,0,0
3,6,8,8,1,3,3,7,1,0,0,0,0,1,0,0,0,0,0
4,4,1,1,3,2,3,1,1,1,0,0,0,0,0,0,0,0,0

In [14]:
df.dtypes

clump_thickness      int64
size_uniformity      int64
shape_uniformity     int64
marginal_adhesion    int64
epithelial_size      int64
bland_chromatin      int64
normal_nucleoli      int64
mitoses              int64
bare_nucleoli_1      uint8
bare_nucleoli_10     uint8
bare_nucleoli_2      uint8
bare_nucleoli_3      uint8
bare_nucleoli_4      uint8
bare_nucleoli_5      uint8
bare_nucleoli_6      uint8
bare_nucleoli_7      uint8
bare_nucleoli_8      uint8
bare_nucleoli_9      uint8
dtype: object

# Create database connection

In [18]:
engine = create_engine(f'postgresql://postgres:{sql_pass}@localhost/breast_cancer')

In [19]:
#Confirm tables
engine.table_names()

['cancerdata']

# Load DataFrames into database

In [20]:
df.to_sql(name='cancerData', con=engine, if_exists='append', index=False)